<html>
	<head>
		<title>Poompkin</title>
	</head>
	<body onload="load();">

		<div id="canvas"></div>
		<button id="button" onclick="sendReq()">Send ajax call</button>	
	<script type="text/javascript" src="scripts/ajaxTesting.js"></script>
		<style type="text/css">
		#canvas {
  			width: 512px;     /* specify a width! */
  			margin: 0 auto; /* center */
		}
		#button {
			margin:auto;
  			display:block;
		}
		</style>

	</body>
</html>