<html>
	<head>
		<title>Poompkin</title>
	</head>
	<body onload="load();">

		<div id="canvas">
		</div>

		<script type="text/javascript" src="scripts/ajaxTesting.js"></script>
		<style type="text/css">
		#canvas {
  			width: 30%;     /* specify a width! */
  			margin: 0 auto; /* center */
		}
		</style>

	</body>
</html>